__pycache__/guimenu.cpython-39.pyc
__pycache__/hare.cpython-39.pyc
__pycache__/numberobject.cpython-39.pyc
__pycache__/orbitalbody.cpython-39.pyc
__pycache__/orbitalvisualisation.cpython-39.pyc
__pycache__/pixelvisualiser.cpython-39.pyc
__pycache__/sandpile_colour_schemes.cpython-39.pyc
__pycache__/sandpilevisualiser.cpython-39.pyc
__pycache__/spiralvisualiser.cpython-39.pyc
__pycache__/turtle_colour_palette_dictionaries.cpython-39.pyc
__pycache__/turtlevisualiser.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
__pycache__/waveformvisualiser.cpython-39.pyc
__pycache__/webvisualiser.cpython-39.pyc
outputs/.DS_Store
outputs/Orbit/10, 31.41592, line int 1.png
outputs/Orbit/10, 31.41592, line int 5.png
outputs/Orbit/orbital visualisation.png
outputs/Pixel/.DS_Store
outputs/Pixel/1 million digits.png
outputs/Pixel/1mil, pixelsize is digit, half scaling factor, scale over time true true 1000000, offset same as size false false pt 3.png
outputs/Pixel/132k digits.png
outputs/Pixel/outputs settings.rtf
outputs/Pixel/starfield 1 10kx10k, 500k digits.png
outputs/Pixel/starfield 1 but with 5000x5000 screen size.png
outputs/Pixel/starfield 1.png
outputs/Sandpile/.DS_Store
outputs/Sandpile/3141.png
outputs/Sandpile/31415 sandyboi.png
outputs/Sandpile/31415 washed out pastels.png
outputs/Sandpile/31415.png
outputs/Sandpile/pastelboi 31415.png
outputs/Spiral/.DS_Store
outputs/Spiral/2.png
outputs/Spiral/galaxy 1.png
outputs/Spiral/glaxy 3.png
outputs/Spiral/settings.rtf
outputs/Turtle/.DS_Store
outputs/Turtle/1m cherry blossom.eps
outputs/Turtle/1m cherry blossom.png
outputs/Turtle/1m metalic flake.eps
outputs/Turtle/1m, blue autumn.eps
outputs/Turtle/1m, blue autumn.jpg
outputs/Turtle/10m cy cherry 0.001 offset.png
outputs/Turtle/10m cy cherry, 0.0001 offset.png
outputs/Turtle/500k.png
outputs/Turtle/screenshot.png
outputs/Web/.DS_Store
outputs/Web/10k randcol randoff 5 transp.png
outputs/Web/10k randcol randoff aa 5 tr.png
outputs/Web/10k randcol randoff aa 10 tr.png
outputs/Web/10k starfield randoff 10 aa 10 tr.png
outputs/Web/10k stfld randoff to 20 aa tr 10.png
outputs/Web/10k yellpurp roff 20 aa tr 10.png
outputs/Web/10000, rand colours and offset, 100 transp.png
outputs/Web/mint.png
outputs/Web/web visualiser screenshot.png
.DS_Store
.idea/
.gitignore

